body {
    font-family: 'Cuprum', sans-serif;
}

.visually-hidden {
    display: none;
}

.main-header {
background-color: #f4f7f9;
padding-bottom: 60px;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.site-navigation .container {
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    width: 100%;
    min-height: 42px;

    font-size: 17px;
    line-height: 1.06;
    background-color: #293449;
}

.site-navigation-1 {
    display: flex;
}

.site-navigation-1 a {
    display: block;
}

.site-navigation-2 {
    display: flex;

    padding: 0;
    margin: 0;
}

.site-navigation-2 li {
    margin: 0 10px;
}

.main-contacts {
    display: flex;
    justify-content: space-between;
    
    padding-top: 45px;
    padding-bottom: 45px;
}

.main-navigation-list {
    display: flex;
    justify-content: space-around;

    padding: 0;
    margin: 0;
}

.main-navigation-list li {
    padding-top: 22px;
    padding-bottom: 26px;
}

.site-navigation a {
    color: #ffffff;
}

a {
    text-decoration: none;
  }

.main-header-logo {
    width: 220px;
    height: 42px;
}

.main-menu-container {
    min-height: 158px;
}

.main-contacts,
.main-navigation-list,
.main-footer-menu ul,
.main-footer-contacts ul,
.catalog-list ul,
.pagination ul,
.site-navigation-2,
.main-menu-list,
.brands-catalog,
.info-items
{
    list-style: none; 

}

.main-menu-list-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-slider {
    position: absolute;
    top: 522px;
}

.main-slider-items {
    width: 620px;
    height: 266px;
}

.main-menu-list .block {
    width: 300px;
    height: 123px;
}

.main-menu-list-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-menu-list-vertical > div {
    margin-top: 20px;
}

.main-contacts-description {
    font-size: 16px;
    color: #ee3643;
    line-height: 1.44;

    width: 200px;
    height: 60px;
}

.main-contacts-contacts {
    width: 271px;
    height: 69px;
}

.main-contacts-phone {
    font-size: 21px;
    line-height: 1;
    color: #ee3643;
}

.main-contacts-address {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #32425c;
}

.main-contacts-user-navigation {
    font-size: 21px;
    line-height: 1;
    width: 282px;
    height: 45px;
}

.main-navigation {
    background-color: #293449;
    font-size: 17px;
    line-height: 1;

    width: 940px;
    min-height: 55px;
    margin: 0 auto;
}

.main-navigation a {
    color: #ffffff;
}

.main-company-columns {
    min-height: 375px;
    padding: 80px 0;

    display: flex;
    justify-content: space-between;
}

.main-company {
    width: 522px;
}

.main-company p,
.main-company-contacts p
{
    font-size: 13px;
    line-height: 1.85;
}

.main-company h2,
.main-company-contacts h2
{
    font-size: 30px;
    line-height: 1;
}

.main-company-list {
    font-size: 18px;
    line-height: 1.1;
    
    list-style: none;
}

.main-company-list li:before{
    content:"—";
    color: #ee3643;
}

.main-company a,
.main-company-contacts button
{
    font-size: 14px;
    line-height: 1.29;
    color: #ffffff;
    background-color: #ee3643;
    text-transform: uppercase;
}

.brands-catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0px;
}

.brands-catalog li {
    border: 1px solid #eaeaea;
    width: 220px;
    height: 145px;
    text-align: center;
}

.main-company-contacts {
    width: 300px;
}

.write-to-us {
    display: none;
}

.main-footer-menu {
    background-color: #32425c;
    min-height: 193px;
}

.main-footer-menu-navigation a {
    font-size: 18px;
    line-height: 1.33;
    color: #f1f5f7;
    padding-left: 60px;
}

.main-footer-second-menu {
    display: inline-block;
}

.main-footer-second-menu p {
    width: 322px;
    font-size: 18px;
    line-height: 1.33;
    color: #f3f7f9;
}

.main-footer-menu-catalog a {
    font-size: 18px;
    line-height: 1.33;
    color: #ffd180;
    padding-left: 60px;
}

.main-footer-contacts {
    background-color: #293449;
    min-height: 107px;
}

.main-footer-contacts p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.13;
}

.main-footer-contacts a {
    color: #ffd180;
}

.main-contacts-login a {
    font-size: 21px;
    line-height: 1;
}

.main-contacts-item a{
    font-size: 16px;
    line-height: 1.13;
    color: #32425c;
    text-decoration: underline;
}

.page-title {
    background-color: #f2f6f8;
    min-height: 89px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1;
    color: #32425c;
}

.breadcrumbs {
    font-family: PTSans;
    font-size: 13px;
    line-height: 1.38;
    list-style: none;
    text-transform: uppercase;

    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    display: flex;
}

.breadcrumbs li {
    margin-right: 40px;
}

.breadcrumbs a,
.catalog-list a {
    color: #000000;
}

.filter {
    width: 225px;
    min-height: 750px;
}

.filter label {
    font-family: PTSans;
    font-size: 15px;
    line-height: 1.33;
    text-transform: uppercase;
}

.filter legend {
    font-family: PTSans;
    font-size: 17px;
    line-height: 1.76;
    text-transform: uppercase;
}

.filter button {
    font-family: PTSans;
    font-size: 13px;
    line-height: 1.38;
    text-transform: uppercase;
}

.catalog-colums {
    display: flex
    justify-content: space-between;
}

.catalog-list {
    width: 700px;
    min-height: 995px;
}

.catalog-list-items {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.catalog-list-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.catalog-list-2 li {
    border: 1px solid #eaeaea;
    width: 220px;
    min-height: 318px;
    margin-bottom: 21px;
    margin-right: 21px;
}

.catalog-list-2 li:nth-child(3n) {
    margin-right: 0px;
}

.catalog-list-2 h3 {
    font-family: PTSans;
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    font-size: 18px;
}

.old-price,
.price
{
    font-family: PTSans;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    text-align: center;
}

.old-price {
    text-decoration: line-through;
    color: #999999;
}

.price {
    background-image: url("../img/red-button.svg");
    background-size: 141px 38px;
}

.price a {
    color: #ffffff;
}

.pagination {
    font-family: PTSans;
    font-size: 13px;
    line-height: 1.38;
    color: #ffffff;
    text-align: center;
}

.main-menu-list a {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.25;
}

.main-menu-list p {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.29;
}


.yellow-back {
    background-color: #ffbf47;
}

.blue-back {
    background-color: #3bbce3;
}

.pink-back {
    background-color: #dc91d8;
}

.green-back {
    background-color: #8ed78f;
}

.main-slider h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase;
}

.main-slider p {
    font-size: 18px;
    line-height: 1.33;
    color: #ffffff;
}

.main-slider a {
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    color: #ffffff;
}

.popular {
    background-color: #f9f5f0;
}

.popular h2 {
    font-size: 30px;
    line-height: 1;
    color: #32425c;
}

.popular a {
    font-size: 14px;
    line-height: 1.29;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
}

.services {
    background-color: #f4f7f9;
}

.services > .container {
    background-image: url("../img/car.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 522px;
    padding-top: 68px;
}

.services-text {
    width: 398px;
    margin-bottom: 75px;
}

.services h2 {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 35px;
}

.services p {
    font-family: PTSans;
    font-size: 13px;
    line-height: 1.85;
}

.info {
    display: flex;
}

.info h2 {
    font-size: 36px;
    color: #32425c;
    margin-bottom: 30px;
}

.info-items {
    padding: 0;
    margin: 0;
    margin-right: 80px;
}

.info-items a {
    color: #ffffff;
    font-size: 21px;
    background-color: #32425c;
    display: block;
    width: 240px;
    padding: 21px 0 21px 22px;
}

.info-items a:hover {
    color: #32425c;
    background-color: #ffffff;
}

.info-text {
    width: 275px;
}

.text {
    background-color: #f4f7f9;
}

.text h2 {
    font-size: 30px;
}

.text p {
    font-family: PTSans;
    font-size: 13px;
}

.main-footer {
    width: 100%;
}

.main-footer-menu-navigation {
    display: flex;
    justify-content: flex-end;

    padding: 0;
    margin: 0;
}

.main-footer-menu-catalog {
    display: flex;
    justify-content: flex-end;

    padding: 0;
    margin: 0;
}

.main-footer-contacts .container {
    display: flex;
    justify-content: space-between;
}

.copyright {
    width: 228px;
    margin-right: 161px;
}

.social {
    width: 126px;
}

.email {
    width: 135px;
}

.developer {
    width: 96px;
    margin-left: auto;
}