body {
    font-family: 'Cuprum', sans-serif;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    display: none;
}

.main-contacts,
.main-navigation-list,
.main-footer-menu ul,
.main-footer-second-menu ul,
.main-footer-contacts ul,
.catalog-list-items,
.pagination ul,
.site-navigation-2,
.main-menu-list,
.brands-catalog,
.info-items,
.filter-producer,
.filter-battery,
.catalog-items,
.breadcrumbs
.main-company-list
{
    list-style: none; 
    padding: 0;
    margin: 0;
}

.main-header {
    background-color: #f4f7f9;
    padding-bottom: 60px;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.site-navigation {
    width: 100%;
    min-height: 42px;

    font-size: 17px;
    line-height: 18px;
    background-color: #293449;
}

.site-navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: top;

    position: relative;
}

.site-navigation .container:hover {
    background-color: #212a3a;
}

.site-navigation a.icon {
    padding-left: 27px;
    position: relative;
}

.site-navigation a.icon::before {
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}

.site-navigation a.icon:hover::before {
    opacity: 1;
}

.site-navigation a.icon:active::before {
    background-color: #161d29;
    opacity: 0.5;
}

.site-navigation a.icon-bookmark::before {
    background-image: url(../img/icon-bookmark.svg);
}

.site-navigation a.icon-cart::before,
.site-navigation a.icon-cart-full::before {
    background-image: url(../img/icon-cart.svg);
    left: 18px;
}

.site-navigation a.icon-search::before {
    background-image: url(../img/icon-search.svg);
}

.site-navigation a.checkout {
    background-color: #63a63e;
    padding-left: 20px;
}

.site-navigation a.checkout:hover {
    background-color: #5fbb2d;
}

.site-navigation a.checkout:active {
    background-color: #518534;
    opacity: 0.6;
}

.site-navigation a.icon-cart {
    padding-left: 50px;
}

.site-navigation a.icon-cart-full {
    background-color: #ee3643;
    padding-left: 50px;
}

.site-navigation a.icon-bookmark {
    padding-left: 28px;
}

.site-navigation-1 {
    display: flex;
    width: 100%;

    align-items: center; 
}

.site-navigation-1 a {
    display: inline-block;
}

.site-navigation-1 img {
    padding: 13px 56px 15px 55px;
}

.site-navigation-2 {
    display: flex;
}

.site-navigation-2 li {
    display: inline-block;
    width: 150px;
}

.site-navigation-2 a {
    display: flex;
    height: 42px;
    align-items: center;
}

.site-navigation-2 a:active {
    opacity: 0.6;
}

.main-contacts {
    display: flex;
    justify-content: space-between;
}

.main-contacts-description {
    color: #ee3643;
    line-height: 1.44;
    font-style: italic;
    
    width: 196px;
    height: 60px;
    margin-left: 53px;
}

.main-contacts-phone {
    font-size: 21px;
    line-height: 1;
    color: #ee3643;

    border: 3px solid #ffffff;
    padding: 10px 49px 10px 67px;

    position: relative;
}

.main-contacts-phone::before {
    content: "";
    position: absolute;
    left: 12px;

    background-image: url("../img/icon-phone.svg");
    width: 19px;
    height: 19px;
}

.main-contacts-address {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #32425c;
    margin: 10px;
}

.main-contacts-login {
    border: 3px solid #ffffff;
    padding: 14px 69px 11px 47px;
    background-color: #ffffff;

    position: relative;
}

.main-contacts-login a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.main-contacts-login a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-contacts-login svg.left,
.main-contacts-login:active svg.left {
    position: absolute;
    content: "";
    left: 13px;
    width: 20px;
    height: 18px;
    fill: #c5c5c5;
}

.main-contacts-login:hover svg.left path {
    fill: #32425c;
}

.main-contacts-login svg.right,
.main-contacts-login:active svg.right {
    position: absolute;
    content: "";
    right: 10px;
    width: 20px;
    height: 17px;
    fill: #c5c5c5;
}

.main-contacts-login:hover svg.right path {
    fill: #32425c;
}

.main-contacts-user-navigation a {
    font-size: 21px;
    line-height: 1;
    color: #000000;
}

.main-contacts-user-navigation a:hover {
    color: #ee3643;
}

.main-contacts-user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-contacts-user-navigation .button {
    display: inline-block;
    background-color: white;
    padding: 14px 25px 15px 25px;
}

.main-contacts-user-navigation .login {
    padding-left: 48px;
    position: relative;
}

.main-contacts-user-navigation .login svg {
    position: absolute;
    left: 14px;
    top: 14px;
    content: "";

    width: 20px;
    height: 17px;
}

.main-contacts-user-navigation .login svg path,
.main-contacts-user-navigation .login:active svg path {
    fill: #c5c5c5;
}

.main-contacts-user-navigation .login:hover svg path {
    fill: #293449;
}

.main-contacts-user-navigation .registration {
    margin-left: 10px;
}

.main-navigation {
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
    width: 940px;
    margin: 0 auto;
}

.main-navigation a {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.main-navigation-list {
    display: flex;
    justify-content: space-around; 
}

.main-navigation-list li {
    padding: 22px 30px 26px 30px;
}

.main-navigation-list li:hover,
.main-navigation-list li:active {
    background-color: #293449;
}

.main-navigation-list a:active {
    color: rgba(255, 255, 255, 0.5);
}

.site-navigation a {
    color: #ffffff;
}

a {
    text-decoration: none;
  }

.main-header-logo {
    width: 220px;
    height: 47px;

    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
    margin-right: 12px;
    margin-bottom: -5px;
}

.main-header-logo:hover {
    background-color: #ca2c37;
}

.main-header-logo:active {
    background-color: #ba2732;
}

.main-menu-container {
    margin: 54px 0px 44px 0px;
}

.main-menu {
    position: relative;

    margin-top: 59px;
    margin-bottom: 53px;
}

.main-menu-list .block {
    width: 275px;
    height: 123px;
    padding-left: 25px;

    position: relative;
}

.main-menu-list span {
    display: block;

    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    margin-top: 26px;
}

.main-menu-list a {
    display: block;
    width: 115px;
    padding: 10px;
    text-align: center;;
    margin-top: 15px;
    
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #000000;
    opacity: 0.1;
}

.back-1 {
    background-color: #ffbf47;
}

.back-1 a {
    _background-color: #E6AE3F;
}

.back-1 img {
    width: 44px;
    height: 65px;
    position: absolute;
    top: 31px;
    right: 43px;
}

.back-2 {
    background-color: #3bbce3;
}

.back-2 a {
    background-color: #32ABCD;
}

.back-2 img {
    width: 75px;
    height: 61px;
    position: absolute;
    top: 33px;
    right: 28px;
}

.back-3 {
    background-color: #dc91d8;
}

.back-3 a {
    background-color: #C783C3;
}

.back-3 img {
    width: 78px;
    height: 62px;
    position: absolute;
    top: 31px;
    right: 31px;
}

.back-4 {
    background-color: #8ed78f;
}

.back-4 a {
    background-color: #81C281;
}

.back-4 img {
    width: 58px;
    height: 72px;
    position: absolute;
    top: 26px;
    right: 45px;
}

.back-5 {
    background-color: #ffbf47;
}

.back-5 a {
    background-color: #E6AE3F;
}

.back-5 img {
    width: 78px;
    height: 63px;
    position: absolute;
    top: 32px;
    right: 31px;
}

.main-menu-list-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-menu-list-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-menu-list-vertical > div {
    margin-top: 20px;
}

.main-slider {
    position: absolute;
    bottom: 0px;
    margin: 0;
}

.main-slider-items {
    width: 620px;
    height: 266px;
    background-image: url("../img/slider-image.jpg");
    background-size: 620px 266px;
}

.main-slider h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-transform: uppercase;
}

.main-slider p {
    font-size: 18px;
    line-height: 1.33;
    color: #ffffff;
}

.main-slider a {
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    color: #ffffff;
}

.popular {
    background-color: #f9f5f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 24px;
    min-height: 89px;
    margin-bottom: 21px;
}

.popular h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    margin: 0;
}

.popular a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    border-radius: 3px;
    width: 253px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

.main-company-columns {
    position: relative;
    min-height: 375px;
    padding: 80px 0;

    display: flex;
    justify-content: space-between;
}

.main-company {
    width: 522px;
}

.main-company p,
.main-company-contacts p
{
    font-size: 13px;
    line-height: 1.85;
}

.main-company h2,
.main-company-contacts h2
{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.main-company-list {
    list-style: none;
    padding-left: 36px;
}

.main-company-list li {
    font-size: 18px;
    line-height: 20px;
    position: relative;
    margin-bottom: 24px;
}

.main-company-list li:before{
    position: absolute;
    content:"—";
    left: -36px;
    color: #ee3643;
    width: 25px;
    height: 2px;
}

.main-company a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    border-radius: 3px;
    text-align: center;
    padding: 14px 40px 12px 41px;
}

.main-company-contacts button {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    width: 300px;
    background-color: #ee3643;
    border-radius: 3px;
    text-align: center;
    padding: 14px;
}

.brands-catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 65px;
}

.brands-catalog li {
    border: 1px solid #eaeaea;
    width: 220px;
    height: 145px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-company-contacts {
    width: 300px;
}

/* Footer */

.main-footer {
    background-color: #32425c;
}

.main-footer-logo {
    display: block;

    width: 220px;
    height: 68px;

    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
    margin-right: 12px;
}

.main-footer-address {
    width: 322px;
    font-size: 18px;
    line-height: 1.33;
    color: #f3f7f9;
}

.main-footer-menu {
    margin-bottom: 30px;
}

.main-footer-menu img {
    padding: 20px 41px 20px 41px;
}

.main-footer-menu ul {
    display: flex;
    justify-content: flex-end;
}

.main-footer-menu ul a {
    font-size: 18px;
    line-height: 1.33;
    color: #f1f5f7;
    padding-left: 60px;
}

.main-footer-menu ul a:hover,
.main-footer-second-menu ul a:hover {
    text-decoration: underline;
}

.main-footer-menu ul a:active {
    rgba(241, 245, 247, 0.5);
}

.main-footer-second-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.main-footer-second-menu ul {
    display: flex;
    justify-content: flex-end;
}

.main-footer-second-menu ul a {
    font-size: 18px;
    line-height: 1.33;
    color: #ffd180;
    padding-left: 60px;
}

.main-footer-second-menu ul a:active {
    color: rgba(255, 209, 128, 0.5);
}

.main-footer-contacts {
    background-color: #293449;
    padding: 30px 0 25px 0;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.13;
}

.main-footer-contacts a {
    color: #ffd180;
}

.main-footer-contacts .container {
    display: flex;
    justify-content: space-between;
}

.main-footer-contacts .copyright {
    width: 228px;
    margin-right: 161px;
}

.main-footer-contacts .social {
    width: 132px;
    margin-right: 119px;
}

.social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
  
    background-color: #212a3a;
    border-radius: 50%;
  }

.social-button:hover,
.social-button:active {
    background-color: #ee3643;
}

.main-footer-contacts .email {
    width: 135px;
    margin-right: 53px;
}

.main-footer-contacts .email a:active,
.main-footer-contacts .developer a:active {
    color: #ee3643;
    text-decoration: underline;
}

.main-footer-contacts .developer {
    width: 96px;
    margin-left: auto;
}

.main-contacts-item a {
    display: inline-block;
    padding-top: 10px;
    padding-left: 15px;

    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.main-contacts-item a:hover {
    color: #ee3643;
}

.main-contacts-item a:active {
    color: rgba(50, 66, 92, 0.3);   
}

.main-contacts-item > a:last-child {
    position: relative;
    padding-left: 32px;
}

.main-contacts-item > a:last-child::before {
    position: absolute;
    content: "";
    left: 13px;
    top: 16px;
    width: 4px;
    height: 5px;
    background-color: #32425c;
    border-radius: 50%;
}

.page-title {
    padding: 32px 0 34px 30px;
    width: 906px;
    background-color: #f2f6f8;
    margin: 0;
    
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
}

.breadcrumbs {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 1.38;
    list-style: none;
    text-transform: uppercase;

    padding: 0;  
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
}

.breadcrumbs li {
    margin-right: 40px;
}

.breadcrumbs a {
    color: #000000;
    position: relative;
}

.breadcrumbs li:not(:last-child) a::after {
    position: absolute;
    content: "";
    right: -25px;
    top: 1px;
    background-image: url("../img/icon-right-small.svg");
    width: 8px;
    height: 12px;
}

.filter-block {
    width: 220px;
    min-height: 745px;
}

.filter fieldset {
    margin-bottom: 27px;
}

.filter legend {
    font-family: 'PT Sans';
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 25px;
}

.filter-option {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 25px;
    padding-left: 35px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
    font-size: 15px;
    line-height: 1.33;
    text-transform: uppercase;
}

.filter input {
    display: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -35px;

    width: 27px;
    height: 23px;
  
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:not(:checked) + label::before {
    background-image: url("../img/checkbox-off.svg");
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -35px;
  
    width: 25px;
    height: 25px;
    
    background-repeat: no-repeat;
}

.filter-input-radio:checked + label::before {
    background-image: url("../img/radio-on.svg");
}

.filter-input-radio:not(:checked) + label::before {
    background-image: url("../img/radio-off.svg");
}

.filter button {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    margin-top: 50px;
    width: 140px;
    height: 38px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
}

.catalog-colums {
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    width: 700px;
    position: relative;
}

.catalog-list-items {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;

    width: 700px;
    margin: 20px auto;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-bottom: 20px;
    margin-right: 20px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
}

.catalog-item:nth-child(3n) {
    margin-right: 0px;
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    
    width: 60px;
    height: 60px;
    
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
  }
  
.catalog-item .flag-new {
    background: url("../img/new\ flag.png") no-repeat 0 0;
  }

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    height: 88px;
    padding: 40px 0;

    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
  }

.catalog-item .actions {
    display: none;
  }
  
.catalog-item:hover .actions {
    display: block;
  }

.catalog-item .image {
    width: 218px;
    height: 168px;
}

.catalog-item .image img {
    max-width: 100%;
  }

.catalog-item .title {
   min-height: 40px;
   padding: 0 25px;
   margin-top: 10px;
   margin-bottom: 15px;
   
   font-size: 18px;
   line-height: 1.11;
}

.discount,
.price
{
    font-family: 'PT Sans';
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    text-align: center;
}

.catalog-item .discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #999999;
    text-decoration: line-through;
}

.catalog-item .price {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;

    background: #ee3643;
    border-radius: 3px;
}

.catalog-item .price::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;

    border: 20px solid white;
    border-left-color: #ee3643;
}

.pagination {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 1.38;
    color: #ffffff;
    text-align: center;
}

/* модальные окна */

.write-to-us {
    display: none;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -310px;

    width: 620px;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);

    border-top: 7px solid #ee3643;
}

.write-to-us .close {
    position: absolute;
    top: 9px;
    right: 6px;
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-close.svg");
    cursor: pointer;
    border: 0;
}

.write-to-us-form-fields {
    padding: 48px 80px 37px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.write-to-us-form-fields fieldset {
    flex-basis: 220px;
}

.write-to-us-form-fields fieldset label {
    display: block;
    margin-bottom: 10px;
}

.write-to-us-form-fields fieldset textarea,
.write-to-us-form-fields fieldset input {
    width: 100%;
    resize: none;
    border: solid 2px #dee3e4;
    border-radius: 3px;
}

.write-to-us-form-fields fieldset input {
    height: 38px;
}

.write-to-us-form-fields fieldset textarea::placeholder,
.write-to-us-form-fields fieldset input::placeholder {
    font-family: 'PTSans-Regular';
    font-size: 13px;
    line-height: 24px;
    color: #a9a9a9;
    padding: 14px 0 15px 16px;
}

.write-to-us-form-fields .field-text {
  flex-basis: 100%;
  margin-top: 22px;
}

.write-to-us-form-button {
    padding: 37px 80px;
    background-color: #f4f4f4;
}

.write-to-us-form-button button {
    background-color: #ee3643;
    color: #ffffff;
    width: 470px;
    min-height: 38px;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
}

.added-to-cart {
    display: none;
    position: absolute;

    background-color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -310px;

    width: 620px;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);

    border-top: 7px solid #ee3643;
}

.added-to-cart-success {
    font-size: 30px;
    line-height: 30px;
    padding: 68px 125px 68px 179px;

    position: relative;
}

.added-to-cart-success::before {
    position: absolute;
    content: "";
    left: 81px;
    top: 48px;

    background-image: url("../img/modal-check.png");
    background-repeat: no-repeat;
    width: 66px;
    height: 66px;
}

.added-to-cart-send {
    padding: 37px 80px;
    background-color: #f4f4f4;
}

.added-to-cart .close {
    position: absolute;
    top: 9px;
    right: 6px;
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-close.svg");
    cursor: pointer;
    border: 0;
}

.added-to-cart-send a {
    display: inline-block;
    _width: 220px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.added-to-cart-send > a:first-child {
    background-color: #ee3643;
    color: #ffffff;
    padding: 14px 62px 14px 59px;
    margin-right: 10px;
}

.added-to-cart-send > a:last-child {
    background-color: #ffffff;
    color: #000000;
    padding: 14px 48px 12px 44px;
}

.services {
    background-color: #f4f7f9;
}

.services > .container {
    background-image: url("../img/car.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 522px;
    padding-top: 68px;
}

.services-text {
    width: 398px;
    margin-bottom: 75px;
}

.services h2 {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 35px;
}

.services p {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 1.85;
}

.info {
    display: flex;
}

.info h2 {
    font-size: 36px;
    color: #32425c;
    margin-bottom: 30px;
}

.info-items {
    padding: 0;
    margin: 0;
    margin-right: 80px;
}

.info-items a {
    color: #ffffff;
    font-size: 21px;
    background-color: #32425c;
    display: block;
    width: 240px;
    padding: 21px 0 21px 22px;
}

.info-items a:hover {
    color: #32425c;
    background-color: #ffffff;
}

.info-text {
    width: 275px;
}

.text {
    background-color: #f4f7f9;
}

.text h2 {
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 67px;
}

.text p {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 73px;
}